{% extends "admin/base.html" %}

{% block title %}Store: Admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Store: Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
